<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122160735685-5v56b4kpa35a798b7iofkt45s9tn2m78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122160735685-5v56b4kpa35a798b7iofkt45s9tn2m78</string>
	<key>API_KEY</key>
	<string>AIzaSyAKFv0vuDhVIr0AjyOXO-lLGCuCtVX2o58</string>
	<key>GCM_SENDER_ID</key>
	<string>122160735685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.subEditor.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>subeditor-2a35b</string>
	<key>STORAGE_BUCKET</key>
	<string>subeditor-2a35b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122160735685:ios:8c741d5cdc830a88b317ac</string>
</dict>
</plist>